.itsh-navbar {
    background-color: #B7834A !important;
}

.itsh-navbar .navbar-nav .nav-link {
    color: #fff !important; /* Cambiar el color de los enlaces */
}

.itsh-navbar .navbar-nav .nav-link:hover {
    color: #215D40 !important; /* Cambiar color al pasar el ratón */
}

.navbar-nav .nav-item.login-left {
    margin-left: 0 !important; /* Asegura que el item de login se alinee a la izquierda */
}
